# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables / API keys
.env
.env.*



# AI models
models/

# IDE
.vscode/
.idea/

# OS files
.DS_Store 
Thumbs.db

# Logs
*.log